div(layout='row', layout-align='center center')
  md-content(layout-padding='' flex='50')
    md-card-title
      md-card-title-text
        span.md-headline Nuevo cliente
        p.md-body-1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus quas alias iusto, voluptas esse, aspernatur nobis reprehenderit! Provident, error eaque veniam maxime optio in dolorem sequi quaerat voluptate quae.
    form(name='$ctrl.clientForm', ng-submit='$ctrl.nuevoCliente()')
      div(layout='row')
        nix-text(
          flex
          required='true'
          label='Cliente'
          ng-model='$ctrl.model.cliente'
          name='cliente'
          frm="$ctrl.clientForm.cliente")
        nix-text(
          flex
          required='true'
          label='Sede'
          ng-model='$ctrl.model.sede'
          name='sede'
          frm="$ctrl.clientForm.sede")
      div(layout='row')
        nix-text(
          flex
          required='true'
          label='Dirección'
          ng-model='$ctrl.model.direccion'
          name='direccion'
          frm="$ctrl.clientForm.direccion")
        nix-text(
          flex
          required='true'
          label='Telefono'
          ng-model='$ctrl.model.telefono'
          name='telefono'
          frm="$ctrl.clientForm.telefono")
      div(layout='row')
        nix-text(
          flex
          required='true'
          label='Area principal'
          ng-model='$ctrl.model.area'
          name='area'
          frm="$ctrl.clientForm.area")
        nix-text(
          flex
          required='true'
          label='Contacto principal'
          ng-model='$ctrl.model.contacto'
          name='contacto'
          frm="$ctrl.clientForm.contacto")
        nix-text(
          flex
          required='true'
          label='Correo'
          ng-model='$ctrl.model.correo'
          name='correo'
          type='email'
          frm="$ctrl.clientForm.correo")
      md-button.md-primary(
        type='submit', 
        ng-disabled='$ctrl.btnDisabled') Registrar
