md-input-container.md-block(flex='{{flex}}')
    label {{label}}
    md-select(
        ng-class="mdNoUnderline ? 'mdNoUnderline' : 'na' "
        ng-required='{{required}}'
        ng-model='ngModel'
        ng-change='ngChange()',
        name='{{name}}')
        md-option(
            value='{{nxOption.value}}'
            ng-repeat='nxOption in nxOptions'
        ) {{nxOption.display}}
    .errors(ng-messages="frm.$error")
        div(ng-message='required') Campo requerido.


