div(layout='row', layout-align='center center')
  md-content(layout-padding )
    md-card-title
      md-card-title-text
        span.md-headline Historial de sucesos 
        p.md-body-1
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure, molestias. Deleniti, totam, saepe. Harum, quis deserunt dolores reiciendis ab dolorum non rerum, accusantium, nesciunt laborum illo esse hic quaerat!
    md-content(layout='row')
      activo-select(
        flex='40'
        filters=''
        action-struct='$ctrl.actionStruct'
        entity ='full_activo'
      )
      md-content(flex )
        md-card
          md-list
            div(layout='row')
              md-subheader(flex).md-no-sticky Historial del activo tal
            md-list-item.secondary-button-padding.md-3-line(
              ng-repeat='fila in $ctrl.historial')
              //-md-icon(md-font-library="material-icons"  ng-class='activo.estado') {{activo.icon}}
              .md-list-item-text(layout='column')
                h3
                  strong {{fila.texto}}
                h4 Llave: {{fila._key}}
                p {{fila.fecha + ' ' + fila.hora }}
                md-icon.md-secondary.md-primary(
                  aria-label='bum2'
                  md-font-library="material-icons"
                  style='cursor:pointer'
                  ng-click='$ctrl.obs(activo)') edit
                  md-tooltip Agregar notas
                md-icon.md-secondary.md-primary(
                  aria-label='orden'
                  style='cursor:pointer'
                  md-font-library="material-icons"
                  ng-click='$ctrl.pasarOrden(activo,true)') clear 
                  md-tooltip Eliminar
              md-divider