div(layout='row', layout-align='center center')
  md-content(layout-padding flex)
    md-card-title
      md-card-title-text
        span.md-headline Gestor de clientes
        p.md-body-1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus quas alias iusto, voluptas esse, aspernatur nobis reprehenderit! Provident, error eaque veniam maxime optio in dolorem sequi quaerat voluptate quae.
    md-content(layout='row' )
      md-table-container(flex)
        table(md-table ng-model='$ctrl.selected')
          thead(md-head)
            tr(md-row)
              th(md-column) Usuario
              th(md-column) Correo
              th(md-column) Area
              th(md-column) Sede
              th(md-column) Cliente
              th(md-column) Dirección
              th(md-column) Telefono
          tbody(md-body)
            tr(md-row 
              dir-paginate='cliente in $ctrl.clientes | itemsPerPage: 50'  
              total-items='$ctrl.totalClientes' 
              current-page="$ctrl.current")
              td(md-cell) {{cliente._contacto}}
              td(md-cell) {{cliente.correo}}
              td(md-cell) {{cliente._area}}
              td(md-cell) {{cliente._sede}}
              td(md-cell) {{cliente._empresa}}
              td(md-cell) {{cliente.direccion}}
              td(md-cell) {{cliente.telefono}}
        dir-pagination-controls(
          flex 
          align='center' 
          on-page-change="$ctrl.allClientes({'1':'1'},newPageNumber)")
