div(layout='row', layout-align='center center')
  md-content(layout-padding flex)
    md-card-title
      md-card-title-text
        span.md-headline Gestor de usuarios
        p.md-body-1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus quas alias iusto, voluptas esse, aspernatur nobis reprehenderit! Provident, error eaque veniam maxime optio in dolorem sequi quaerat voluptate quae.
    md-content(layout='row' )
        md-table-container(flex)
            table(md-table='', md-row-select='', multiple='false', ng-model='$ctrl.selected')
              thead(md-head='',)
                tr(md-row='')
                  th(md-column='', md-numeric='') Usuario
                  th(md-column='', md-numeric='') Correo
                  th(md-column='', md-numeric='') Rol
                  th(md-column='', md-numeric='') Rol
                  th(md-column='', md-numeric='') Rol
                  th(md-column='', md-numeric='') Rol
              tbody(md-body='')
                tr(md-row='', md-select='usuario', md-select-id='usuario.id_usuario', md-auto-select='', dir-paginate='usuario in $ctrl.usuarios | itemsPerPage: 2'  total-items='$ctrl.totalUsuarios' current-page="$ctrl.current")
                  td(md-cell='') {{usuario.nombre + usuario.apellido}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
                  td(md-cell='') {{usuario.correo}}
            dir-pagination-controls(flex align='center' on-page-change="$ctrl.allUsers({'1':'1'},newPageNumber)")
        span(flex='5')
        md-card(flex='25')
            md-card-content
                form(name='userForm', ng-submit='$ctrl.updateUsuario(userForm)')
                  div(layout='row' layout-gt-xs="column" )
                    md-input-container.md-block(flex='')
                      label Apellido
                      input(type='text', name='apellido', ng-model='$ctrl.model.apellido', md-maxlength='40', required='')
                      div(ng-messages='userForm.apellido.$error')
                        div(ng-message='required') Campo requerido.
                        div(ng-message='md-maxlength') El campo de apellido no puede superar los 40 caracteres.
                    md-input-container.md-block(flex='')
                      label Nombre
                      input(type='text', name='nombre', ng-model='$ctrl.model.nombre', md-maxlength='40', required='')
                      div(ng-messages='userForm.nombre.$error')
                        div(ng-message='required') Campo requerido.
                        div(ng-message='md-maxlength') El campo de apellido no puede superar los 40 caracteres.
                  md-input-container.md-block(flex='')
                    label Correo
                    input(type='email', name='correo', ng-model='$ctrl.model.correo', md-maxlength='50', required='')
                    div(ng-messages='userForm.correo.$error')
                      div(ng-message='required') Campo requerido.
                      div(ng-message='md-maxlength') El campo de apellido no puede superar los 40 caracteres.
                  md-input-container.md-block(flex='')
                    label Telefono
                    input(type='text', name='telefono', ng-model='$ctrl.model.telefono')
                  md-autocomplete(
                    md-min-length='0',
                    required='',
                    flex='',
                    md-input-name='rol',
                    md-search-text='rolSearch',
                    md-items='item in $ctrl.search(rolSearch)',
                    md-item-text='item',
                    md-floating-label='Rol')
                    md-item-template
                      span(md-highlight-text='rolSearch') {{item}}
                    div(ng-messages='userForm.rol.$error')
                      div(ng-message='required') Debes seleccionar o registrar un area.
                  div(layout='row' layout-xs="column")
                    md-input-container.md-block(flex='')
                      label Contrase&ntilde;a
                      input(type='password', name='contrasena', ng-model='$ctrl.model.contrasena', md-maxlength='30', required='')
                      div(ng-messages='userForm.contrasena.$error')
                        div(ng-message='required') Campo requerido.
                        div(ng-message='md-maxlength') El campo de apellido no puede superar los 30 caracteres.
                    md-input-container.md-block(flex='')
                      label Contrase&ntilde;a
                      input(type='password', name='_contrasena', ng-model='$ctrl.model._contrasena', md-maxlength='30', required='')
                      div(ng-messages='userForm._contrasena.$error')
                        div(ng-message='required') Campo requerido.
                        div(ng-message='md-maxlength') El campo de apellido no puede superar los 30 caracteres.
                  md-button.md-primary(type='submit', ng-disabled='$ctrl.btnDisabled') Registrar


