md-input-container.md-block(flex='{{flex}}')
    label {{label}}
    input(
        ng-disabled='ngDisabled'
        type='{{type}}',
        name='{{name}}',
        required='{{required}}'
        ng-model='ngModel',
        ng-change='ngChange'
        ng-required='{{required}}')
    .errors(ng-messages="frm.$error")
        div(ng-message='required') Campo requerido.


    //-md-maxlength='40',รง
