div(layout='row', layout-align='center center')
  md-content(layout-padding )
    md-card-title
      md-card-title-text
        span.md-headline Registrar ordenes de entrega
        p.md-body-1
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure, molestias. Deleniti, totam, saepe. Harum, quis deserunt dolores reiciendis ab dolorum non rerum, accusantium, nesciunt laborum illo esse hic quaerat!
    md-content(layout='row')
      md-card(flex='35')
        md-list
          div(layout='row')
            md-subheader(flex).md-no-sticky Lista de activos alistados
          md-list-item.secondary-button-padding.md-3-line(
            dir-paginate='activo in $ctrl.activosAlistados | itemsPerPage: 10'
            total-items='$ctrl.totalActivos'
            current-page="$ctrl.current")
            //-md-icon(md-font-library="material-icons"  ng-class='activo.estado') {{activo.icon}}
            .md-list-item-text(layout='column')
              h3
                strong
                  | Activo {{activo.serial}}
              h4 {{activo.cliente_nombre}}
                | {{activo._marca + ' - ' + activo._modelo }}
              p  {{activo.inventario}} / {{activo.seguridad}}
              md-icon.md-secondary.md-primary(
                aria-label='bum2'
                style='cursor:pointer'
                md-font-library="material-icons"
                ng-click='$ctrl.pasarOrden(activo)') trending_flat
                md-tooltip Pasar a entrega
            md-divider
          div(layout-padding layout='row')
            nix-text(
              flex='80'
              label='Buscar'
              ng-model='$ctrl.buscar')
            md-button.md-primary( flex ng-click='$ctrl.buscarActivos()')  Buscar
        div(layout='row' flex layout-align='center center')
          dir-pagination-controls(
            flex
            align='center'
            on-page-change="$ctrl.allActivos($ctrl.filter,newPageNumber)")
      md-content(flex layout-padding )
        form(name='$ctrl.entregaFrm' ng-submit='$ctrl.entr($event)' )
          div(layout='row')
            //-N Orden
            nix-text(
              flex='30'
              required='true'
              label='Numero de orden'
              ng-model='$ctrl.model.nOrden'
              name='nOrden'
              frm="$ctrl.entregaFrm.nOrden")
            //-Cliente
            nix-select(
              flex
              required='true'
              name='cliente'
              label='Cliente'
              ng-change='$ctrl.loadContactos()'
              ng-model='$ctrl.model.cliente'
              nx-data='$ctrl.nxData.cliente'
              frm="$ctrl.entregaFrm.cliente")
            //-Area
            nix-select(
              flex
              required='true'
              name='area'
              label='Area'
              ng-change='$ctrl.loadContactos()'
              ng-model='$ctrl.model.area'
              nx-data='$ctrl.nxData.area'
              frm="$ctrl.entregaFrm.area")
          md-card
            md-list
              div(layout='row')
                md-subheader(flex).md-no-sticky Lista de activos para entrega
              md-list-item.secondary-button-padding.md-3-line(
                ng-repeat='activo in $ctrl.activosEntrega')
                //-md-icon(md-font-library="material-icons"  ng-class='activo.estado') {{activo.icon}}
                .md-list-item-text(layout='column')
                  h3
                    strong
                      | Activo {{activo.serial}}
                  h4 {{activo.cliente_nombre}}
                    | {{activo._marca + ' - ' + activo._modelo }}
                  //Correo
                  md-input-container.md-secondary.fix-size
                    label Correo
                    input(type='text' ng-model='activo.contacto.correo')
                  //Contacto
                  nix-auto.md-secondary.fix-size(
                    label='Contacto'
                    ng-model='activo.contacto._contacto'
                    nx-data='$ctrl.nxData.contacto'
                  )
                  md-icon.md-secondary.md-primary(
                    aria-label='orden'
                    style='cursor:pointer'
                    md-font-library="material-icons"
                    ng-click='$ctrl.pasarOrden(activo,true)') clear 
                    md-tooltip Eliminar
                  md-icon.md-secondary.md-primary(
                    aria-label='observaciones'
                    style='cursor:pointer'
                    md-font-library="material-icons"
                    ng-click='$ctrl.observacion(activo)') create 
                    md-tooltip Observaciones
                md-divider
          br
          md-button.md-primary.md-rised( type='submit' ) Registrar entrega
