div(layout='row')
  //-Cliente
  nix-select(
    flex
    label='Cliente'
    ng-change='loadAreas()'
    ng-model='model.cliente'
    frm="nxFrm"
    name='cliente'
    required='true'
    nx-data='nxData.cliente')
  //-Area
  nix-select(    
    flex
    required='true'
    frm="nxFrm"
    name='area'
    label='Area'
    ng-change='loadContactos()'
    wait-for-where='true'
    ng-model='model.area'
    nx-data='nxData.area')
  //-Contacto
  nix-select(
    ng-show='{{full}}'
    flex
    required='true'
    frm="nxFrm"
    name='contacto'
    label='Contacto'
    wait-for-where='true'
    ng-model='model.contacto'
    nx-data='nxData.contacto')
