div(layout='row', layout-align='center center')
  md-content(layout-padding flex)
    md-card-title
      md-card-title-text
        span.md-headline Inventario general
        p.md-body-1
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ducimus quas alias iusto, voluptas esse, aspernatur nobis reprehenderit! Provident, error eaque veniam maxime optio in dolorem sequi quaerat voluptate quae.
div(layout='row' )
  md-card(flex )
    md-toolbar.filter
      .md-toolbar-tools
        //--Cliente
        nix-select.md-no-underline(
          ng-model='$ctrl.model.id_cliente'
          md-no-underline='true'
          placeholder='Cliente'
          ng-change='$ctrl.loadAreas()'
          nx-data ='$ctrl.nxData.cliente'
          )
        //--Area
        nix-select.md-no-underline(
          ng-model='$ctrl.model.id_area'
          md-no-underline='true'
          placeholder='Area'
          wait-for-where='true'
          ng-change='$ctrl.loadContactos()'
          nx-data ='$ctrl.nxData.area'
          )
        //--Usuario
        nix-select.md-no-underline(
          ng-model='$ctrl.model.id_contacto'
          md-no-underline='true'
          placeholder='Usuario'
          wait-for-where='true'
          ng-change='$ctrl.allActivos()'
          nx-data ='$ctrl.nxData.contacto'
          )
        //-
          nix-text(
            ng-model='$ctrl.globalSearch'
            label='Busqueda general'
            )
        //-Estados
          md-select.md-no-underline(
            ng-model='$ctrl.model.estado'
            placeholder='Estado'
            ng-change="$ctrl.allActivos($ctrl.model)")
            md-option(
              ng-value='estado.value'
              ng-repeat='estado in $ctrl.estados')
              md-icon(
                md-font-library='material-icons'
                ng-class='estado.value') {{estado.icon}}
              | &nbsp {{estado.display}}
    md-card-content.out-margin
      md-table-container(flex)
        table(md-table='')
          thead(md-head='')
            tr(md-row='')
              th(md-column) Activo
              th(md-column) Serial
              th(md-column) Inventario
              th(md-column) Seguridad 
              th(md-column) Cliente 
              th(md-column) Area
              th(md-column) Usuario
              th(md-column) 
          tbody(md-body='')
            tr(
              md-row='', 
              md-auto-select='', 
              dir-paginate='activo in $ctrl.activos | itemsPerPage: 50 '  
              total-items='$ctrl.totalActivos' 
              current-page="$ctrl.current")
              td(md-cell) {{activo._tipo_activo}}
              td(md-cell) {{activo.serial}}
              td(md-cell) {{activo.inventario}}
              td(md-cell) {{activo.seguridad}}
              td(md-cell) {{activo._empresa + ' ' + activo._sede }}
              td(md-cell) {{activo._area}}
              td(md-cell) {{activo._contacto}}
              td(md-cell)
                md-button.md-icon-button.md-primary( ng-click='$ctrl.showDatos($event,activo)')
                  md-icon.md-secondary.md-primary(
                    md-font-library="material-icons" ) playlist_add_check
                md-button.md-icon-button.md-primary(ui-serf='m.addActivo')
                  md-icon.md-secondary.md-primary(
                    md-font-library="material-icons" ) history
        dir-pagination-controls(
          flex  
          align='center' 
          on-page-change="$ctrl.allActivos(newPageNumber)")
