div(layout='row')
	nix-table(
		flex
		entity='full_contacto'
		col='$ctrl.col'
		actions='$ctrl.actions'
		filter='$ctrl.filter')

//-form( name='$ctrl.pru' ng-submit='$ctrl.submit($event,$ctrl.pru)')
	nix-auto(
		required='true'
		name='marca'
		label='Marca'
		ng-model='$ctrl.model.marca'
		nx-data='$ctrl.nxData.marca'
		frm="$ctrl.pru.marca"
		ng-change='$ctrl.change()'
	)

	nix-auto(
		required='true'
		name='modelo'
		label='Modelo'
		ng-model='$ctrl.model.modelo'
		nx-data='$ctrl.nxData.modelo'
		frm="$ctrl.pru.modelo"
	)

	nix-cliente(
		ng-model='$ctrl.cliente'
		nx-frm='$ctrl.pru.cliente'
		full='true'
	)
	div(layout='row')
		nix-table(
			flex
			layout-padding
			col='$ctrl.col'
			entity='full_contacto')
	md-button( type='submit') Fin
