
md-card
  //-md-toolbar.md-table-toolbar.md-default.md-toolbar-tools
    span Activos
  md-card-title
    md-card-title-text
      span.md-headline Lista de activos
      br
      md-checkbox(ng-model='bodega' aria-label='Bodega' ng-change='bodegaChange()') Bodega

  md-table-container
    table(md-table='', md-row-select='', multiple='false', ng-model='selected')
      thead(md-head='',)
        tr(md-row='')
          th(md-column='', md-numeric='') Activo
          th(md-column='', md-numeric='') Usuario
          th(md-column='', md-numeric='') Serial
          th(md-column='', md-numeric='') Inventario
      tbody(md-body='')
        tr(md-row='', md-select='activo', md-select-id='activo.id_activo', md-auto-select='', ng-repeat='activo in activos')
          td(md-cell='') {{activo._tipo_activo}}
          td(md-cell='') {{activo._contacto}}
          td(md-cell='') {{activo.serial}}
          td(md-cell='') {{activo.inventario}}
  //-FILTROS
  md-container(layout='column' layout-padding )
    div(layout='row')
      //-Busqueda general
      md-input-container.md-block(flex='20')
        label Buscar...
        input(
          type='text'
          ng-model='model.buscar'
          name='contacto'
        )
      //-CLIENTE
      md-input-container.md-block(flex )
          label Cliente
          md-select(ng-disabled='bodega' ng-model='model.cliente' ng-change='selectedCliente()')
            md-option(
              ng-repeat='cliente in clientesList'
              ng-value='cliente.id_cliente'
            )  {{cliente.nombre}}
      //--AREA
      md-input-container.md-block(flex)
          label Area
          md-select(
          ng-disabled='areaDisabled'
          ng-model='model.area'
          ng-change='selectedArea()')
            md-option(
              ng-repeat='area in areaList'
              ng-value='area.id_area'
            )  {{area.nombre}}
  //-md-table-pagination(md-limit='query.limit', md-limit-options='[5, 10, 15]', md-page='query.page', md-total='{{desserts.count}}', md-on-paginate='getDesserts', md-page-select='')
