div(layout='row', layout-align='center center')
  md-content(layout-padding flex='70')
    md-card-title
      md-card-title-text
        span.md-headline Alistar activo
        p.md-body-1
          |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, iure, molestias. Deleniti, totam, saepe. Harum, quis deserunt dolores reiciendis ab dolorum non rerum, accusantium, nesciunt laborum illo esse hic quaerat!
    md-content(layout='row')
      md-card(flex='35')
        md-list()
          md-list-item.secondary-button-padding.md-3-line(ng-repeat='activo in $ctrl.activosBodega')
            .md-list-item-text(layout='column' )
              h3 Activo {{activo.serial}}
              h4  {{activo._marca + ' - ' + activo._modelo }}
            md-icon.md-secondary.md-primary(md-font-library="material-icons" ng-click='null') face
            md-icon.md-secondary.md-primary(md-font-library="material-icons" ng-click='null') face
      md-content(flex layout-padding )
        form(name='$ctrl.alistarFrm' ng-submit='$ctrl.alistar()')
          div(layout='row')
            nix-text(
              flex
              required='true'
              label='Placa de inventario'
              ng-model='$ctrl.model.inventario'
              name='inventario'
              frm="$ctrl.alistarFrm.inventario")
            nix-text(
              flex
              required='true'
              label='Placa de seguridad'
              ng-model='$ctrl.model.seguridad'
              name='seguridad'
              frm="$ctrl.alistarFrm.seguridad")




